body{
    overflow: hidden;
}

.buy{
    border: none;
    margin-left: 1rem;
    margin-bottom: 1rem;
    background-color: #41424c;
    border-radius: 3px;
    color: white;
}

.cart{
    font-size: 1.1rem;
}

.desc{
    display: block;
    padding-left: 1rem;
}

.price {
    padding-left: 1rem;
}

.dropdown{
    margin: auto;
    text-align: end;
}

.dropdown.active{
    animation: fadeInLeft;
    animation-duration: 1s;
}

.hamburger{
    padding: 0.5rem 1rem 1rem 1rem;
    width: 5%;
    font-size: 40px;
    color: black;
    position: absolute;
    cursor: pointer;
    z-index: 20;
}

.head{
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 10;
}

.header{
    width: 100%;
}

.log{
    display: none;
    width: 50%;
    text-align: end;
}

.logo{
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 2.5rem;
    font-weight: bolder;
}

.main-section{
    position: relative;
    display: inline-block;
    background-color: lightgray;
    align-content: center;
    padding-top: 100px;
}

.nav-item{
    margin-bottom: 1rem;
}

#loader{
    background: url(./assets/load.gif) no-repeat center;
    background-size: 50%;
    height: 100vh;
    width: 100%;
    z-index: 100;
}

.product{
    background-color: white;
    width: 45%;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 3%;
    text-align: left;
}

.product-container{
    padding-top: 2%;
    margin: auto;
    text-align: center;
}

.product-img{
    text-align: center;
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.product-section{
    margin: 0px auto;
}

.search{
    display: inline-block;
}

.side-bar{
    background-color: brown;
    margin-left: auto;
    display: none;
}

.side-navigation{
    height:100vh;
    width: 40%;
    position: fixed;
    margin-left: -260px;
}

.side-navigation.active{
    margin-left: 0px;
    transition: .5s linear;
}

.element.active{
    animation: fadeInLeft;
    animation-duration: 1s;
}

.sign-in{
    margin-right: 2px;
    background-color: black;
    color: white;
}

.sign-up{
    margin-right: 2px;
}

.user-name{
    text-align: center;
    padding-top: 3rem;
}

.user-name.active{
    animation: fadeInLeft;
    animation-duration: 1s;
}

@media screen and (max-width: 600px){
    .side-bar{
    }
    .side-navigation{

        /* display: none !important; */
    }
    .log{
    }
    .menu{
    }
    .logo{
    }
}
@media (min-width:640px){
    .side-bar{
        display: none;
    }
    .side-navigation{
        width: 30%;
    }
    .log{
        display: none;
    }
    .menu{
        display: none;
    }
    .logo{
        width: 100%;
        text-align: center;
        margin: auto;
    }
    .product{
        max-width: 30%;
        margin-bottom: 2%;
        font-size: 1rem;
    }
}
@media (min-width:768px){
    .side-bar{
        display: none;
    }
    .log{
        display: none;
    }
    .menu{
        display: none;
    }
    .user-name{
        text-align: center;
    }
    .logo{
        width: 100%;
        text-align: center;
        margin: auto;
    }
    .product{
        width: 22%;
        font-size: 1.2rem;
    }
    .side-navigation{
        width: 25%;
    }
}
@media (min-width:1024px){
    .side-bar{
        display: inline-block;
    }
    .hamburger{
        display: none;
    }
    .side-navigation{
        width: 20%;
        margin-left: 0px;
        position: fixed;
    }
    .log{
        display: inline-block;
        width: 48%;
        float: right;
        padding-top: 10px;
    }
    .logo{
        text-align: center;
        display: inline-block;
        font-size: 2.5rem;
        font-weight: bolder;
        color: var(--black);
        margin-left: 8%;
        width: 40%;
    }
    .product{
        width: 24%;
        margin-bottom: 1%;
        font-size: 1.2rem;
    }
    .main-section{
        width: 80%;
        margin-left: 20%;
    }
}
@media (min-width:1280px){
    .side-bar{
        display: inline-block;
    }
    .side-navigation{
        width: 15%;
        position: fixed;
    }
    .log{
        display: inline-block;
        float: right;
        padding-top: 10px;

    }
    .logo{
        text-align: right;
        display: inline-block;
        font-size: 2.5rem;
        font-weight: bolder;
        width: 25%;
        margin-left: 1%;
    }
    .product{
        width: 19%;
    }
    .main-section{
        width: 85%;
        margin-left: 15%;
    }
}